/* line 1, ../compass/sass/_base.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

/* line 5, ../compass/sass/_base.scss */
img {
  max-width: 100%;
}

/* line 1, ../compass/sass/_header.scss */
#header {
  background: #a91a16 url(../images/sf-bg-park-header.jpg) no-repeat center top;
  float: left;
  width: 100%;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  height: 110px;
}
/* line 7, ../compass/sass/_header.scss */
#header #header-inner {
  padding-top: 10px;
  max-width: 900px;
  margin: auto;
}
/* line 11, ../compass/sass/_header.scss */
#header #header-inner #header-left {
  float: left;
}
/* line 15, ../compass/sass/_header.scss */
#header #header-inner #header-right {
  float: right;
}
/* line 17, ../compass/sass/_header.scss */
#header #header-inner #header-right .link-item {
  float: left;
  margin: 0 0 0 0.5em;
  list-style: none;
}
/* line 21, ../compass/sass/_header.scss */
#header #header-inner #header-right .link-item a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 12px;
  line-height: 18px;
}
/* line 26, ../compass/sass/_header.scss */
#header #header-inner #header-right .link-item a:hover {
  color: #ffcb00;
}
/* line 31, ../compass/sass/_header.scss */
#header #header-inner #header-right .link-item.orange a {
  color: #ffcb00;
}
/* line 33, ../compass/sass/_header.scss */
#header #header-inner #header-right .link-item.orange a:hover {
  color: #f3f3f3;
}
/* line 40, ../compass/sass/_header.scss */
#header #header-inner #header-right #park-title {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: right;
}
/* line 46, ../compass/sass/_header.scss */
#header #header-inner #header-right #park-city {
  text-align: right;
  color: white;
}

/* line 54, ../compass/sass/_header.scss */
#nav-bar {
  width: 100%;
  background: linear-gradient(to bottom, #fafbfb, #e1e1e1);
  float: left;
}
/* line 58, ../compass/sass/_header.scss */
#nav-bar #nav-inner {
  overflow: hidden;
  max-width: 991px;
  margin: auto;
}
/* line 62, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item {
  list-style: none;
  padding: 10px 20px;
  float: left;
  border-left: solid 1px #ccc;
}
/* line 67, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item:hover {
  background-color: #282828;
}
/* line 70, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item a {
  font-size: 14px;
  text-decoration: none;
  color: #666666;
}
/* line 74, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item a:hover {
  color: #ffcb00;
}
/* line 78, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item.green {
  background: #82e847;
  color: white;
}
/* line 81, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item.green:hover {
  background-color: #282828;
}
/* line 86, ../compass/sass/_header.scss */
#nav-bar #nav-inner .menu-item.green a:hover {
  color: #ffcb00;
}

/* line 1, ../compass/sass/_footer.scss */
#footer {
  background: #ac1e16;
  padding-bottom: 20px;
}
/* line 4, ../compass/sass/_footer.scss */
#footer #footer-inner {
  max-width: 900px;
  margin: auto;
}
/* line 7, ../compass/sass/_footer.scss */
#footer #footer-inner ul {
  display: inline-block;
  max-width: 900px;
  margin: auto;
}
/* line 11, ../compass/sass/_footer.scss */
#footer #footer-inner ul li {
  list-style: none;
  font-size: 12px;
  color: #f6b9b5;
}
/* line 16, ../compass/sass/_footer.scss */
#footer #footer-inner ul li:hover {
  color: #ffcb00;
}

/* line 2, ../compass/sass/_home.scss */
#main-content {
  position: relative;
  background-color: #a91a16;
  float: left;
}
/* line 9, ../compass/sass/_home.scss */
#main-content #swoosh {
  position: absolute;
  height: 632px;
  width: 100%;
  background: url(../images/sf-ribbons.png) bottom center no-repeat;
  top: 100px;
}
/* line 17, ../compass/sass/_home.scss */
#main-content #promotions {
  max-width: 900px;
  position: relative;
  margin-top: 125px;
  margin: auto;
}
/* line 22, ../compass/sass/_home.scss */
#main-content #promotions .promo {
  position: relative;
  width: 32%;
  box-sizing: border-box;
  border: white solid 10px;
  display: inline-block;
  margin-left: 1%;
  margin-bottom: 40px;
}
/* line 30, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-title {
  color: #855206;
  font-size: 26px;
  background: #ffcb00;
  padding: 5px 20px;
  top: -11px;
  left: -11px;
  float: left;
  position: absolute;
  z-index: 10;
}
/* line 41, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-image {
  position: relative;
  z-index: 1;
}
/* line 45, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-text-title {
  font-size: 20px;
  color: white;
}
/* line 48, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-text-title:hover {
  color: #ffcb00;
}
/* line 53, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-text-wrapper {
  background-color: black;
  padding: 10px;
}
/* line 56, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-text-wrapper .promo-text {
  font-size: 12px;
  color: #999;
}
/* line 69, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-small {
  padding: 10px;
  background-color: #dcd9cb;
  overflow: hidden;
  border-bottom: 1px solid #cacaca;
}
/* line 74, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-small .promo-small-image {
  float: left;
  width: 35%;
  box-sizing: border-box;
  padding-right: 5px;
}
/* line 80, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-small .promo-small-text-title {
  font-size: 17px;
}
/* line 83, ../compass/sass/_home.scss */
#main-content #promotions .promo .promo-small .promo-small-text {
  font-size: 13px;
  float: right;
  width: 65%;
  box-sizing: border-box;
}
